:root {
    --palette-primary: #0D0D0D;
    --palette-secondary: #262626;
    --palette-accent1: #595959;
    --palette-accent2: #819595;
    --palette-accent3: #B1B6A6; 
    --text-primary: #FFFFFF;
    --text-secondary: #DEDEE0;

    --palette-accent1-hover: #6a6a6a;
    --palette-secondary-hover: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--palette-primary);
    color: var(--text-primary);
    font-family: monospace;

    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 80px 1fr;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    background-color: var(--palette-secondary);
}

.logo_title {
    margin-left: 20px;
    font-size: 1.7rem;
    letter-spacing: 4px;
}

.chats_sidebar, .users_sidebar {
    background-color: var(--palette-secondary);
    border-right: 1px solid var(--text-secondary);

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.users_sidebar {
    z-index: 10;
}

.chats_sidebar header, .users_sidebar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--palette-accent2);
    flex-shrink: 0;
}

.scrollable_sidebar {
    flex-grow: 1;
    overflow-y: auto;
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: monospace;
    color: var(--text-primary);
    background-color: none;
}

.chats_button, .users_button {
    background-color: var(--palette-secondary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: 0.2s ease;
}

.logout_button {
    text-decoration: none;
    padding: 16px 20px;
    border-radius: 4px;
    border: 2px solid var(--text-secondary);
    background-color: var(--palette-accent2);
    cursor: pointer;
    transition: 0.2s ease;
}

.logout_button:hover {
    background-color: var(--palette-accent1);
}

.chats_button:hover, .users_button:hover {
    background-color: var(--palette-accent1);
}

.send_button {
    background-color: var(--palette-accent2);
    padding: 5px;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: 0.2s ease;
}

.send_button:hover {
    background-color: var(--palette-accent1);
}

/*----------------------------*/
.chat_list_item {
    background-color: var(--palette-secondary-hover);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding: 18px 20px;
    border-bottom: 1px solid var(--text-secondary);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.chat_list_item:hover {
    background-color: var(--palette-accent1-hover);
    margin-left: 25px;
    border-left: 4px solid var(--text-secondary);
}

.chat_list_item.active {
    background-color: var(--palette-secondary);
    border-left: 4px solid var(--text-secondary);
    padding-left: 25px;
}

.chat_item_bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.chat_item_name {
    font-style: bold;
    font-size: 1.3rem;
}

.chat_item_preview {
    color: var(--text-secondary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    max-width: 220px;
}

/*---------------------------------------*/

.online_indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--palette-accent1);
    flex-shrink: 0;
}

.online_indicator.online {
    background-color: #6BE37F;
}

/*---------------------------------------*/

.user_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid var(--text-secondary);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.user_list_item:hover {
    background-color: var(--palette-accent1);
    margin-left: 20px;
    border-left: 4px solid var(--text-secondary);
}

.user_list_name {
    font-size: 1.3rem;
    font-style: bold;
}

/*------------------------------------*/

.chat_box_container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;

    overflow: hidden;
}

.empty_chat {
    margin: auto;
    text-align: center;
}

.empty_chat_title {
    font-size: 1.7rem;
    letter-spacing: 2px;
}

/*-----------------------------------*/
.active_chat_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.recipient_info {
    display: flex;
    align-items: center;
    gap: 20px;

    background-color: var(--palette-accent2);
    border-bottom: 1px solid var(--text-secondary);

    flex-shrink: 0;
    padding: 10px;
}

.recipient_name {
    font-style: bold;
}

/*-------------------------------------*/

.message_history {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    gap: 40px;
    padding: 10px;
}

.message_bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    line-height: 1.4;
    padding: 10px 14px;
    border-radius: 8px;
}

.message_bubble_message {
    word-break: break-word;
    font-size: 0.9rem;
    text-align: center;
}

.message_bubble_timestamp {
    align-self: flex-end;
}

.message_bubble.sent {
    align-self: flex-end;
    background-color: var(--palette-accent2);
}

.message_bubble.received {
    align-self: flex-start;
    background-color: var(--palette-accent1);
}

/*---------------------------------*/
.message_form {
    display: flex;
    flex-shrink: 0;
    padding: 20px 14px;
    gap: 40px;
}

.text_input {
    margin-left: 10px;
    flex-grow: 1;
    background-color: var(--palette-secondary);
    border: 1px solid var(--text-secondary);
    color: var(--text-primary);
    padding: 15px;
    border-radius: 10px;
    font-family: monospace;
}

.text_input:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

/*------------------------------------------*/

.toggle_sidebar_phone {
    display: none;
    border: none;
    background-color: none;
    color: var(--text-secondary);
    cursor: pointer;
    font-size: 20px;
}

.chats_sidebar {
    transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr; 
    }
    
    nav, .chat_box_container {
        grid-column: 1 / 2; 
    }

    .toggle_sidebar_phone {
        display: block;
    }

    .chats_sidebar, .users_sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 100;
        transform: translateX(-100%);
    }

    .users_sidebar {
        z-index: 1000;
        display: flex !important; 
    }

    .chats_sidebar.open, .users_sidebar.open {
        transform: translateX(0);
    }
}
